{% extends "base.html" %}

{% block content-area %}
<center>
    <h1>Search</h1>

    <form action="" method="get">
        <input type="text" name="page" value="" placeholder="I.E. Javascript">
        <input type="submit" value="Search" />
    </form>

    <br>

    {% if links_scores %}
        {% for link, score in links_scores %}
            <div style="background-color:#ddd;padding:10px;margin-bottom:15px">
                {{link}} {{score}}
            </div>
        {% empty %}            
            No results were found.
        {% endfor %}
    {% endif %}


</center>

   






{% endblock %}