{% load staticfiles %}
<!DOCTYPE html>

<html>
    <head>      
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">  
        <!-- <title>{{ page }} | learnmaps</title> -->
        <style>

            html, body {
                margin: 0;
                height: 100%;
                font-family: 'Calibri';
                /*background-color: #ddd;*/
                background-color: #f2efea;
            }

            header {
                /*background-color: #006064;*/
                background-color: #403d58;
                color: #84ffff;
                height: 50px;
                line-height: 50px;
                z-index: 10000;
                position: relative;
            }

            header a {
                color: #84ffff;
                text-decoration: none;       
            }

            #logo {
                font-size:24px;
                margin-left: 20px;
            }

            #search-div {
                background-color: #fff;
                /*padding: 10px;*/
                /*display: inline-block;*/
                /*top: 50px;*/
                /*left: 5px;*/
                position: relative;
                z-index: 1000;
            }

            .hidden-group {
                visibility: collapse;
            }


            #path-div {
                background-color: #ddd;
                position: relative;
                z-index: 1000;
                width: 100%;
            }
            #path-area {
                line-height: 40px;
                height: 40px;
                max-width: 100%; 
                display: inline-block;
                /* overflow:visible; */
                /* overflow-wrap: break-word;  */
                white-space: nowrap; 
                /* overflow-x: hidden; */
            }

            #path-text {
                font-size: 20px;
                margin: 0px 20px 0px 20px;  
                float:right;
            }

        </style>
    </head>

    <body>
        <div id="search-area"></div>

        <div id="path-div">
            <div id="path-area">
                <div id="path-text"></div>
            </div>
        </div>
        <!--<header>
            <span id="logo"><a href="{% url 'home_index' %}">Wikipaths</a></span>
        </header>-->

        <!--<div id="search-div">
            <form action="" method="get">
                <input type="text" name="page" value="" placeholder="I.E. Javascript">
                <input type="submit" value="Search" />
            </form>
        </div>-->

        <span style="position:absolute;bottom:10px;right:10px;color:rgba(0,0,0,0.5);z-index: 2000;font-size:14px;">
            learnmaps.net
        </span>

        <!-- <style>
            .links line {
                stroke: #999;
                stroke-opacity: 1;
            }

            #fitscreen-button {
                position: fixed;
                top: 100;
                left: 0;
            }

            .block-over {
                fill: blue;
            }

        </style> -->

        <!--<svg id="svg-container" width="2000" height="2000"></svg>-->
        <!--<script src="{% static 'wikipaths_diagrams\force_diagram\jquery-2.1.4.min.js' %}"></script>-->
        <script src="{% static 'wikipaths_diagrams\d3.v4.min.js' %}"></script>
        <script src="{% static 'wikipaths_diagrams\eventhandler.js' %}"></script>
        <script src="{% static 'utils.js' %}"></script>
        <!--<script src="{% static 'wikipaths_diagrams\force_diagram\force_diagram.js' %}"></script>-->
        <!-- <script src="{% static 'wikipaths_diagrams\nvgtt-container.js' %}"></script> -->
        <script src="{% static 'wikipaths_diagrams\elasticsvg.js' %}"></script>
        <script src="{% static 'wikipaths_diagrams\blocks_diagram\grid.js' %}"></script>
        <script src="{% static 'wikipaths_diagrams\blocks_diagram\blocks_diagram.js' %}"></script>
        <script src="{% static 'search_box.js' %}"></script>
        <script src="{% static 'loadscreen.js' %}"></script>

        <script>

            var pageCache = {}

            window.onhashchange = function() {
                loadFromCacheOrDownload(currentPage());
            }

            // function getArticle() {
            //     return decodeURIComponent(getPath()[1]);
            // }

            function loadPathDiv() {
                d3.select("#path-text").selectAll("*").remove()

                var hashPath = getHashPath();

                var donePaths = [];
                var pathsObjs = [];
                for(var i=0; i < hashPath.length; i++) {
                    var path = hashPath[i];
                    donePaths.push(path);
                    pathsObjs.push({
                        href: "#" + donePaths.join("/"),
                        text: decodeURIComponent(path)
                    });
                }

                for(var i=0; i < pathsObjs.length; i++) {
                    d3.select("#path-text")
                        .append("span")
                        .append("a")
                        .attr("href", pathsObjs[i].href)
                        .text(pathsObjs[i].text);
                    
                    d3.select("#path-text")
                        .append("span")
                        .text(" > ");
                }
            }

            function currentPage() {
                return getHashPath().getLastItem();
            }

            function loadFromCacheOrDownload(page, failIfNotFound) {
                loadPathDiv();

                document.title = page +  " | learnmaps";
                
                if(pageCache[page]) {
                    loadPageContent(pageCache[page]);
                    return;
                }

                LoadScreen.show();
                d3.json("/mapelem/" + page, function(data) {
                    LoadScreen.hide();
                    
                    var dataFound = loadPageContent(data);
                    
                    if(dataFound) {
                        pageCache[page] = data;
                        return;
                    }

                    //Use this due to a server bug that sometimes do not send correct page data,
                    //but after reloads, it does.
                    if(failIfNotFound) {
                        alert("Page not found!");
                    } else { //Try one more time, but fail next time
                        loadFromCacheOrDownload(page, true);
                    } 
                });
            }

            function loadPageContent(data) {
                var linksScores = data;

                var nodesScores = []
                for(var node in linksScores) {
                    nodesScores.push({
                        id: node, score:linksScores[node] 
                    })
                }

                //Page not found verification
                if(nodesScores.length == 0)
                    return false;

                //Chrome (and maybe others) take into account the current scale to calculate the BBox
                //So for correct measures, we need to scale things back to one
                esvg.scale(1);

                diagram.load({nodes: nodesScores});
                esvg.fitScreen({top:110, bottom:10, left:10, right:10});
                return true;
            }

            

            var searchBox = new SearchBox();
            var esvg = new ElasticSvg("svg-container", document.body);
            var diagram = new BlockDiagram("svg-container");

            var blocksCache = {}

            window.onload = function() {

                esvg.on("dblclick", function() {
                    esvg.fitScreen({top:110, bottom:10, left:10, right:10});
                });

                loadFromCacheOrDownload(currentPage());


                




                // return;


                // LoadScreen.show();
                // var articleAddr = currentPage();
                // d3.json("/mapelem/" + articleAddr, function(data) {
                //     LoadScreen.hide();

                //     blocksCache[currentPage()] = data;

                //     loadPageContent(data);

                    // return;

                    // //Grid to detect over positions
                    // var hoverGrid = new Grid();
                    // //Fill grid with the data positions
                    // for(var i=0; i < nodesScores.length; i++) {
                    //     var node = nodesScores[i];
                    //     // console.log(node);
                    //     hoverGrid.fillSpace(node.x, node.y, node.width, node.height, node);
                    // }

                    // var selectedId = null;

                    // esvg.on("move-zoom", function(x, y, k) {
                        
                    //     var correctX = parseInt(x/50);
                    //     var correctY = parseInt(y/50);
                    //     var hoverBlock = hoverGrid.getValue(correctX, correctY);

                    //     //If no block selected return
                    //     if(!hoverBlock) {
                    //         d3.select(".subcont-block").remove();
                            
                    //         d3.selectAll(".block-hover")
                    //             .attr("fill", "#817f75")
                    //             .classed("block-hover", false);
                                
                    //         //Remove all hidden-groups
                    //         d3.selectAll(".hidden-group")
                    //             .classed("hidden-group", false);
                    //         return;
                    //     }
                            

                        // if(selectedId == hoverBlock.id)
                        //     return;

                    //     selectedId = hoverBlock.id;

                    //     //Calculate the portion in the screen 
                    //     var hoverBlockBBox = hoverBlock.dom.getBBox();
                    //     var screenPortion = Math.max(
                    //         hoverBlockBBox.height*k / window.innerHeight,
                    //         hoverBlockBBox.width*k / window.innerWidth,
                    //     )

                    //     //Only proceed if portion is more than 0.6
                    //     if(screenPortion < 0.6) {
                    //         d3.select(".subcont-block").remove();
                            
                    //         d3.selectAll(".block-hover")
                    //             .attr("fill", "#817f75")
                    //             .classed("block-hover", false);

                    //         //Remove all hidden-groups
                    //         d3.selectAll(".hidden-group")
                    //             .classed("hidden-group", false);
                    //         return;
                    //     }
                            

                    //     // d3.select(hoverBlock.dom).classed("block-hover", true);
                    //     //Remove any current selection
                    //     d3.selectAll(".block-hover")
                    //         .attr("fill", "#817f75")
                    //         .classed("block-hover", false);

                    //     //Select current hover block if any
                    //     d3.select(hoverBlock.dom)
                    //         .select("rect")
                    //         .classed("block-hover", true)
                    //         .attr("fill", "#888");

                    //     loadSubcontent(hoverBlock.id, hoverBlock.dom, hoverBlock.quad);

                    //     // d3.json("/mapelem/" + hoverBlock.id + "/", function(data) {
                    //     //     console.log(data);
                    //     // });
                    // });
                // });
            }


            function renderSubcontent(linksScores, nodeGroup, quad) {
                
                var nodesScores = []
                for(var node in linksScores) {
                    nodesScores.push({
                        id: node, score:linksScores[node] 
                    })
                }

                var sortedNodes = nodesScores.sort(function(a, b) {
                    return b.score - a.score;
                });

                var lowerScore = 1;
                try{
                    lowerScore = sortedNodes[sortedNodes.length-1].score;
                } catch(e) { }

                //Load data into a quarter circle grid
                var quarterGrid = new QuarterCircleGrid(quad);

                for(var i in sortedNodes) {
                    var node = sortedNodes[i];
                    node.width = parseInt(node.score/lowerScore);
                    node.height = parseInt(node.score/lowerScore);
                    quarterGrid.addSquare(node);
                }

                var minX = 0;
                var minY = 0;
                for(var i=0; i < sortedNodes.length; i++) {
                    minX = Math.min(minX, sortedNodes[i].x);
                    minY = Math.min(minY, sortedNodes[i].y);
                }
                //Put origin @ 0,0
                for(var i=0; i < sortedNodes.length; i++) {
                    sortedNodes[i].x -= minX;
                    sortedNodes[i].y -= minY;
                }

                var blockMargin = 2;
                var blockScale = 50;
                var textMargin = 10;

                //Destroy every subcontblock
                d3.select(".subcont-block").remove();

                //Remove all hidden-groups
                d3.selectAll(".hidden-group")
                    .classed("hidden-group", false);
                    

                var block = d3.select(nodeGroup)
                    .selectAll("*")
                    .classed("hidden-group", true);
                
                var nodeGroupBBoxHeight = nodeGroup.getBBox().height;

                var subcontBlock = d3.select(nodeGroup).append("g")
                    .classed("subcont-block", true)
                    .selectAll(".square-blocks")
                    .data(sortedNodes)
                    .enter()
                    .append("g")
                    .attr("transform", function(d) {
                        // d.dom = this;
                        return "translate(" + d.x*blockScale + " " + d.y*blockScale + ")";
                    })
                    .attr("class", "square-blocks");

                subcontBlock.append("rect")
                    .attr("fill", "#888")
                    .attr("height", function(d){
                        d.blockHeight = d.height*blockScale - blockMargin;
                        return d.blockHeight;
                    })
                    .attr("width",  function(d){
                        d.blockWidth = d.width*blockScale - blockMargin;
                        return d.blockWidth;
                    });

                var textBlock = subcontBlock.append("text")
                    .text(function(d) {
                        var blockTextValue = decodeURIComponent(d.id);
                        blockTextValue = blockTextValue.replaceAll("_", " ");
                        return blockTextValue; 
                    });
                    // .attr("font-size", 5); 

                    //Get ggbox for each text to adjust its size
                    textBlock.each(function(d) {
                        //Ratio between height/font-size for upper case include is =~ 1.3
                        // 1/1.3 =~ 0.75
                        var textBBox = this.getBBox();
                        d.fontSize = 0.75 * (textBBox.height/(textBBox.width + textMargin)) * (d.blockWidth)
                    });

                textBlock.attr("text-anchor", "middle")
                    .attr("fill", "#d3efbd")
                    .attr("font-size", function(d){ return d.fontSize; })
                    .attr("x", function(d){
                        return d.blockWidth/2;
                    })
                    .attr("y", function(d){
                        return d.blockHeight/2;
                    });

                //Get and set scale
                var subcontBlockBBox = d3.select(".subcont-block").node().getBBox();
                // console.log(subcontBlockBBox);
                var subcontScale = nodeGroupBBoxHeight / Math.max(subcontBlockBBox.height, subcontBlockBBox.width);
                // console.log(subcontScale);
                d3.select(".subcont-block").attr("transform", "scale(" + subcontScale + ")");
            }



            function loadSubcontent(subcontent, nodeGroup, quad) {
                if(blocksCache[subcontent]) {
                    var data = blocksCache[subcontent];
                    renderSubcontent(data, nodeGroup, quad);
                } else {
                    d3.json("/mapelem/" + subcontent + "/", function(data) {
                        blocksCache[subcontent] = data;
                        renderSubcontent(data, nodeGroup, quad);
                    });
                }
            }


            

        </script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-102577733-1', 'auto');
            ga('send', 'pageview');

        </script>

    </body>


</html>